<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="CoubCompilerEntities" connectionString="metadata=res://*/CoubCompilatorModel.csdl|res://*/CoubCompilatorModel.ssdl|res://*/CoubCompilatorModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-1MO31R0;initial catalog=CoubCompiler;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>